<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="EBankingV1">

	<listeners>
		<listener class-name="com.Ebanking.utilities.Reporting" />
	</listeners>

	<!--<test name="BankingApp Test"> <parameter name="browser" value="chrome" 
		/> <classes> <class name="com.Ebanking.testCases.TC_LoginTest" /> </classes> 
		</test> <test name="BankingApp Test1"> <parameter name="browser" value="firefox" 
		/> <classes> <class name="com.Ebanking.testCases.TC_LoginTest" /> </classes> 
		</test> <test name="BankingApp Test_XLS"> <parameter name="browser" value="chrome" 
		/> <classes> <class name="com.Ebanking.testCases.TC_LoginTest_XLS" /> </classes> 
		</test> <test name="BankingApp Test_XLS1"> <parameter name="browser" value="firefox" 
		/> <classes> <class name="com.Ebanking.testCases.TC_LoginTest_XLS" /> </classes> 
		</test> -->

	<test name="BankingApp AddCostTest">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.Ebanking.testCases.TC_AddCustomerTest" />
		</classes>
	</test>

	<test name="BankingApp AddCostTest1">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.Ebanking.testCases.TC_AddCustomerTest" />
		</classes>
	</test>

</suite>